body {
  background-color: #65636a;
  color: #f9f6ee;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Ensures vertical stacking */
  height: 100vh;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

.ImportantText {
  color: yellow;
}
